doctype html
html
	head
		title my jade template
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='../css/style.css', rel='stylesheet') 
	body
		h1 Hello #{name}
		h2 bonjour

		
