doctype html

html(lang="en")

	include ./head.jade

	body

		- headerText = "Структура нашей компании разрабатывалась, ориентируясь на комплексные решения в сфере электронной коммерции. Она построена таким образом, что горизонтально ее можно наращивать до любых объемов, без необходимости реструктуризации."

		.header
			img(class='logo' src="../img/logo.png")
			p= headerText
				
		
